.paint {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.canvasSection {
    display: flex;
    flex-direction: column;
}

.controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}