.formPrimary {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 350px;
    margin-bottom: 25px;
}

.inputPrimary {
    height: 50px;
    padding-left: 10px;
    border: 1px solid #719191;
    border-radius: 20px;
}

.inputSecondary {
    height: 200px;
    width: 100px;
    background: none;
    border: none;
    border-radius: 20px;
}