@mixin button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    color: inherit
}

.buttonPrimary {
    @include button;
    background-color: #719191;

    &:active {
        background-color: #529292;
    }
}

.buttonSecondary {
    @include button;
    background-color: #eb9a78;

    &:active {
        background-color: #ea7746;
    }
}

.buttonTertiary {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background: none;
    background-color: #719191;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    color: inherit;

    &:active {
        background-color: #529292;
    }
}