.authForm {

    &__button {
        width: 350px;
        height: 50px;
        border-radius: 20px;
        background-color: #719191;
        border: none;
        font-size: 18px;
        cursor: pointer;

        &:active {
            background-color: #529292;
        }
    }
}