.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.rightSection{
    display: flex;
    gap: 10px;
}

.title {
    font-size: 26px;
    font-weight: 700;
}

.userPanel {
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .userPanel {
        font-size: 0;
    }
}