@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 150px;
  font-family: 'Roboto Flex', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

@media screen and (max-width: 750px) {

  body {
    padding: 0 20px;
  }
}